# Keep branch-specific Firebase configuration files
.firebaserc merge=ours
firebase.json merge=ours
lib/firebase_options.dart merge=ours

# Keep branch-specific GitHub workflows and configurations
.github/** merge=ours